@import "styles/media.scss";

.metrics {
    display: grid;
    gap: var(--grid-gap);

    @include media("screen", ">tablet") {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media("screen", "<tablet") {
        grid-template-columns: 1fr;
    }
}
