.container {
    position: relative;
    padding: 0 var(--grid-gap);

    font-size: inherit;
    font-family: inherit;

    border: 1px solid;
    border-radius: calc(var(--grid-gap) / 2);
    width: var(--aside-width);
    height: 1.75em;
    // height: var(--aside-width);

    background-color: var(--accents-1);
    transition: background-color var(--main-transition),
        border-color var(--main-transition);

    overflow: hidden;

    &[data-drag="true"],
    &:hover {
        border-color: var(--accents-2) !important;
        background-color: var(--accents-2);

        // > label {
        //     transform: scale(1.2);
        // }
    }

    &[data-error="true"] {
        border-color: red !important;
    }

    > label {
        border-radius: inherit;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-feature-settings: "ss04";
        font-size: inherit;
        transition: transform var(--main-transition);

        > input {
            display: none;
        }
    }
}
