@import "styles/media.scss";

.aside {
    position: sticky;
    top: var(--header-height);

    .glyph_inspector {
        position: relative;
        max-height: calc(100vh - calc(var(--header-height) * 5 + 1.2em));
        // width: calc(33.33vw - calc(var(--grid-gap) * 5));

        border: 1px solid;
        // padding: calc(var(--grid-gap) * 4) 0;
        // padding: var(--grid-gap);

        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        overflow: hidden;
    }
}

.bside {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(18, 1fr);
    align-items: flex-start;
    gap: var(--grid-gap);

    position: relative;
    width: 100%;

    @include media("screen", ">xlMonitor") {
        grid-template-columns: repeat(20, 1fr);
    }
    @include media("screen", "<lgMonitor") {
        grid-template-columns: repeat(18, 1fr);
    }
}
