.container {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--header-height);

    padding: 0 var(--grid-gap);

    background-color: inherit;
    color: inherit;

    box-shadow: var(--shadow-sticky);
    transition: box-shadow var(--main-transition),
        border-color var(--main-transition);
    z-index: 1000;

    &[data-lifting="false"] {
        box-shadow: none;
    }
}
