@import "styles/mixin.scss";

.container {
    @include basePadding();
    position: relative;

    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: var(--grid-gap);

    height: var(--header-height);

    background-color: inherit;
    color: inherit;
    z-index: 1001;

    &[data-lifting="false"] {
        box-shadow: none;
    }
}

.selector {
    position: fixed;
    top: 0;
    right: calc(var(--grid-gap) * 2);
    z-index: 1001;

    height: var(--header-height);

    display: flex;
    gap: var(--grid-gap);

    @include media("screen", ">tablet") {
        align-items: center;
    }

    @include media("screen", "<tablet") {
        flex-direction: column;
        right: calc(var(--grid-gap) * 2);
    }
}
